.container {
    margin: auto;
    height: auto;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto;
    
    grid-template-areas: "el1 el4"
                         "el2 el4"
                         "el3 el3";
    /* align-items: stretch;
    justify-items: stretch; */
    grid-gap: 15px 15px;
}

.el1 {
   
   
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: row-1-start;
    grid-row-end:5; */
    grid-area: el1;
   
}


.el2 {
   
    
    grid-area: el2;
}


.el3 {
    
    /* grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start:6;
    grid-row-end: 7; */
    grid-area: el3;
}

.el4 {
   
    /* grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end:3; */
    grid-area: el4;
}

.el1 img,
.el2 img,
.el3 img,
.el4 img{
    width: 100%;
    height: 100%;
   
   
}

div{
    
}




@media (max-width:600px) {
    .container{
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto auto auto;
        
        grid-template-areas: "el1 el1"
                             "el4 el4"
                             "el3 el3"
                             "el2 el2";
      
        grid-gap: 10px 0;
       
    }
    /* .container div{
       margin-bottom: 10px;
        
    } */
    /* .el1,.el2,.el3,.el4 {
        height: auto;
        border: none;
        
        
    } */
    /* .el1 img,
.el2 img,
.el3 img,
.el4 img{
    width: 100%;    height:100%;
    vertical-align: middle; */

    
}


